body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #1a4e21;
    color: #fff;
}

header {
    text-align: center;
    padding: 20px 0;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #285c2a;
    background-color: #4a9d5b;
    color: #fff;
}

button:hover {
    background-color: #65b375;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.tab-button {
    background-color: #4a9d5b;
    border: 1px solid #285c2a; 
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: none;
    color: #fff;
}

.tab-button.active {
    background-color: #65b375;
    border-bottom: 1px solid #285c2a;
}

.tab-content {
    padding: 20px;
    border: 1px solid #7ca47f;
    background-color: #2e6634;
}
